*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.lupa-img{
  width: 800px;
  height: 500px;
}
.content{
  margin: 100px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lupa{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #000;
  overflow: hidden;
}
.img2{
  width: 800px;
  height: 500px;
}